#hard-skills {
  height: 50%;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
}

#div-hard-skills {
  display: flex;
  justify-content: center;
}

.title-skills {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

#hardskills {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  gap: 20px;
  align-items: center;
}

#div-hard-skills img {
  width: 25px;
}

#div-hard-skills svg {
  width: 25px;
  height: 25px;
}

#soft-skills {
  height: 50%;
}

#soft-skills p {
  background-color: #f2f2f2;
  padding: 5px 10px;
  border-radius: 15px;
  margin: 5px;
  display: inline-block;
  font-size: 0.9rem;
  color: #333;
}

.pagina {
  flex-direction: column;
}
