.paginaProjetoIndividual {
  width: 70%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 25px;
}

#imageProject {
  width: 100%;
}

#skillsProjetoIndividual {
  display: flex;
  flex-wrap: wrap;
}

.allSkills{
  margin: 5px 5px;
  padding: 4px 12px;
  border-radius: 10px;
  font-size: 12;
}

#skillsProjetoIndividual {
  display: flex;
  justify-content: center;
  color: #333;
  font-size: 14px;
  padding: 5px 10px;
  margin: 5px;
  border-radius: 5px;
}

.skill-React {
  background-color: #61dafb;
  color: #333;
}

.skill-JavaScript {
  background-color: #f0db4f;
}

.skill-Sequelize {
  background-color: #00af91;
  color: #fff;
}

.skill-MySQL {
  background-color: #4479a1;
  color: #fff;
}

.skill-HTML {
  background-color: #e34c26;
  color: #fff;
}

.skill-CSS {
  background-color: #264de4;
  color: #fff;
}

.skill-Axios {
  background-color: #88c6f1;
  color: #333;
}

.skill-NodeJS {
  background-color: #68a063;
  color: #fff;
}

.skill-Express {
  background-color: #444;
  color: #fff;
}

.skill-ApiRest {
  background-color: #2c3e50;
  color: #fff;
}

.skill-Typescript {
  background-color: #007acc;
  color: #fff;
}

.skill-Jest {
  background-color: #99424f;
  color: #fff;
}

.skill-MongoDB {
  background-color: #4db33d;
  color: #fff;
}

.skill-Mongoose {
  background-color: #7a3fb3;
  color: #fff;
}

#projeto {
  width: 60%;
  align-items: center;
  display: flex;
  justify-content: center;
}

#infoProjeto {
  margin-left: 10px;
  margin-right: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 40%;
  background-color: #fafafa;
  justify-content: center;
  flex-direction: column;
  display: flex;
  align-items: center;
}

#infoProjeto p {
  margin-left: 20px;
  margin-right: 20px;
}

#buttonLink {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
  
#buttonLink button {
  background-color: #0077b5;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 5px;
  margin: 10px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
  
#buttonLink button:hover {
  background-color: #005b8e;
}
  
#buttonLink button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

#buttonLink a {
  color: #212529;
  align-items: center;
  display: flex;
  text-decoration: none;
}

#buttonLink a:hover {
  align-items: center;
  display: flex;
  text-decoration: none;
}